/* Will be compiled down to a single stylesheet with your sass files */
/*                                      
  http://sass-lang.com/                 
  http://css-tricks.com/sass-vs-less/ 
 */

@import "compass";

/*  COLORS  */
$headerColor: #b58900;  //Yellow
$mainBgColor: #fdf6e3;  //Base3
$linkColor: #2aa198; //Cyan
$buttonColor: #859900;  //Green
$fontColor: #586e75;  //Base01
$hover: #cb4b16; //Orange

$fontSize: 90%;
/* MIXIN */

@mixin left{
  display: block;
  float: left;
}
@mixin right{
  display: block;
  float: right;
}
@mixin font{
  font-size: $fontSize;
  color: $fontColor;
  font-family: trebuchet ms,sans-serif;
}
@mixin button{
  background-color: $buttonColor;
  color: $mainBgColor;
  @include border-radius(30px 30px 30px 30px);
  @include background(linear-gradient(top, $buttonColor, #9da500));
}

html{
  background-color: $mainBgColor;
  @include font;
  body{
    width: 70%;
    margin: auto;

    @media screen and (max-width: 900px){ width: 90%;}
    @media screen and (min-width: 901px) and (max-width: 950px){ width: 85%;}
    @media screen and (min-width: 951px) and (max-width: 1000px){ width: 80%;}
    @media screen and (min-width: 1001px) and (max-width: 1100px){ width: 75%;}


    h1,h2,h3{
      color: $headerColor;
    }
    h1{font-size: 1.8 * $fontSize;}
    h2{font-size: 1.5 * $fontSize;}
    h3{font-size: 1.2 * $fontSize;}
    a{
      color: $linkColor;
    }

    .logo{
      margin-top: 3%;
     
      a{
        text-decoration: none;
        font-size: 2.6em;
        font-weight: bold;

        span.underLogo{
            font-size: 0.25em;
            letter-spacing: 2.6mm;
            font-weight: normal;
            display: block;
        }
      }
    }

    nav {
      @include left;
      width: 100%;
      ul {
          width: 100%;
          @include left;
          list-style: none;
          margin: 0;
          padding: 3% 0;
          text-align: center;
          li{
            white-space: nowrap;
            margin: 1% 1% 0 0;
            padding: 1% 2%;
            @include button;
            @include left;
            border: 2px solid $linkColor;
             &:hover, &:active{
              background: $hover;
             }
             a{
                text-decoration: none;
                color: $mainBgColor;
                font-size: 1.125em;
                }
            }
        }
      }
      article.leftColumn{
        width: 75%;
        @include left;       
        text-align: justify;
        @media screen and (max-width:900px){
          width: 100%;
        }
      }
      aside.rightColumn{
        width: 15%;
        padding-left: 5%;
        @include right;
        margin-top: 5%;
        border-left: 5px dotted $linkColor;
        @media screen and (max-width:900px){
          border-left: none;
          padding-left: 0;
          @include left;
          clear: both;
          width: 100%;
          padding-bottom: 5%;
        }
        img{ 
          @include border-radius(90px);
          @include left;
          padding: 2px;
          border: 1px solid #B58900;
          @media screen and (max-width: 900px){
            margin: auto;
            float: none;
          }
        }
        span.contactInfo{
          clear: both;
          @include left;
          margin-top: 5%;
          strong{
            color: $headerColor;
          }
          @media screen and (max-width: 900px){
            margin: 2% auto auto;
            text-align: center;
            float: none;
          }
        }
      }
    }
  }
