<div class="hero-unit">
  <div class="logo">
    <a href="/" title="Home">
      <span class="FirstLetter">M</span>arcin <span class="FirstLetter">W</span>osinek<br/>
      <span class="underLogo"> drupal developer</span>
    </a>
  </div>
  <nav>
    <ul>
      <li class="Active"><a href="/">HOME</a></li>
            <li><a href="/">Drupal Development</a></li>
            <li><a href="/">Theme creation from psd</a></li>
            <li><a href="/">Front end development</a></li>
     </ul>
  </nav>
  <h1>Cheerio!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
